body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  overflow: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jump {
  animation: jump 1s cubic-bezier(0.23, 1, 0.320, 1);
}

.fall {
  animation: fall 1s linear;
}

@keyframes jump {
  0% {
    bottom: 0px;
  }

  50% {
    bottom: 200px;
  }

  100% {
    bottom: 0px;
  }
}

@keyframes fall {
  0% {
    top: 150px;
  }

  30% {
    top: 100px;
  }

  70% {
    top: 100px;
  }

  100% {
    top: 150px;
  }
}

canvas {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
}

:fullscreen .toolbar {
  position: fixed;
  top: 0;
}

* {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Edge */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}